.idea

# Files generated for Rascal resources
src/*.rsc

# eclipse stuff
.metadata
bin/**
tmp/**
tmp/**/*
**/*.rvm
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

.DS_Store

# Maven
target

# VSCode
.vscode

# PHP Config file, should not be in GitHub
src/main/rascal/lang/php/config/Config.rsc

